@model IEnumerable<DestekTalebi>

<h2>Destek Talepleri</h2>

<p>
    <a href="/DestekTalebi/Create" class="btn btn-primary">Yeni Talep Oluştur</a>
</p>

<table class="table">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Konu</th>
                <th>Öncelik</th>
                <th>Durum</th>
                <th>Tarih</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Konu</td>
                    <td>@item.Oncelik</td>
                    <td>@item.Durum</td>
                    <td>@item.Tarih.ToShortDateString()</td>
                    <td>
                        <a href="@Url.Action("Edit", new { id = item.ID })" class="btn btn-warning">Düzenle</a>
                        <a href="@Url.Action("Details", new { id = item.ID })" class="btn btn-info">Detaylar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</table>
